ScapeTeaBot/config.py
ScapeTeaBot/*.session
ScapeTeaBot/*.session-journal
ScapeTeaBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
ScapeTeaBot/modules/helper_funcs/temp.txt
ScapeTeaBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
ScapeTeaBot.session-journal
updates.txt
*.exe
resources
shell_output.txt
